<div class="container mt-5 text-center">
  <h4>Member profile</h4>
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">First name: <%= @user.first_name %></h5>
      <p class="card-text">Last name: <%= @user.last_name %></p>
      <% if @user.image.attached? %>
      <%= image_tag @user.image, :class => "avatar" %>
      <% else %>
      <%= image_tag "https://eu.ui-avatars.com/api/?name=#{@user.first_name}+#{@user.last_name}", :class => "avatar" %>
      <% end %>
    </div>
    <% if !@current_user.friend_with?(@user) %>
    <p><%= link_to "Request", new_user_invitation_path(@user), :class => "btn-link" %></p>
    <% else %>
    <p>Already friends</p>
    <% end %>
  </div>
  <h4 class="mt-4">Member's cars</h4>
  <% @cars.each do |car| %>
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title"><%= link_to car.name, car_path(car), :class => "btn-link" %></h5>
      <% if car.photo.attached? %>
      <%= image_tag car.photo, :class => "avatar-large" %>
      <% else %>
      <%= image_tag "car-placeholder.png", :class => "avatar-large" %>
      <% end %>
    </div>
  </div>
  <% end %>
  <p><%= link_to "Back", :back, :class => "link-reset" %></p>
</div>