  <div class="container mt-5 text-center">
    <h4>My friends</h4>
    <% @friends.each do |friend| %>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title"><%= link_to friend.first_name, user_path(friend), :class => "btn-link" %></h5>
      </div>
    </div>
    <% end %>
    <h4 class="mt-4">My cars</h4>
    <% @cars.each do |car| %>
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title"><%= link_to car.name, car_path(car), :class => "btn-link" %></h5>
        <% if car.photo.attached? %>
        <%= image_tag car.photo, :class => "avatar-large" %>
        <% else %>
        <%= image_tag "car-placeholder.png", :class => "avatar-large" %>
        <% end %>
      </div>
    </div>
    <% end %>
    <p><%= link_to "Back", :back, :class => "link-reset" %></p>
  </div>