<div class="container mt-5">
  <%= simple_form_for(@car) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :specs %>
  <%= f.submit %>
  <% end %>
  <p><%= link_to "Back", :back %></p>
</div>