<div class="container mt-5 mb-3">
  <h4>Add a car</h4>
  <%= simple_form_for(@car) do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :specs %>
  <%= f.submit %>
  <% end %>
  <p><%= link_to "Back", :back, :class => "link-reset" %></p>
</div>