<div class="container mt-5 mr-2 text-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Name: <%= @car.name %></h5>
      <p class="card-text">Price per day: <%= @car.price %></p>
      <p class="card-text">Specs: <%= @car.specs %></p>
      <p class="card-text"><%= @user.first_name %></p>
      <%= image_tag @user.image, :class => "avatar" %>
    </div>
  </div>
</div>