<div class="container mt-5 text-center">
  <h4>Car fact sheet</h4>
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title"><%= @car.name %></h5>
      <% if @car.photo.attached? %>
      <%= image_tag @car.photo, :class => "avatar-large" %>
      <% else %>
      <%= image_tag "car-placeholder.png", :class => "avatar-large" %>
      <% end %>
      <p class="card-text">Price per day: <%= @car.price %></p>
      <p class="card-text">Specs: <%= @car.specs %></p>
      <p class="card-text">Owner: <%= @owner.first_name %></p>
      <% if @owner.image.attached? %>
      <%= image_tag @owner.image, :class => "avatar" %>
      <% end %>
    </div>
    <h4>Pros & Cons:</h4>
    <% if @pros && @cons %>
    <p>Pros: <%= @pros %></p>
    <p>Cons: <%= @cons %></p>
    <% else %>
    <p>Car data unknown</p>
    <% end %>
    <h4>Common friends:</h4>
    <% if @common_friends.length > 0 %>
    <% @common_friends.each do |friend| %>
    <p><%= friend.first_name %></p>
    <% end %>
    <% else %>
    <p>No common friends</p>
    <% end %>
    <h4>Similar cars:</h4>
    <% if @similar_cars.length > 0 %>
    <% @similar_cars.each do |car| %>
    <p><%= link_to car.name, car_path(car), :class => "btn-link" %></p>
    <% end %>
    <% else %>
    <p>No similar cars found</p>
    <% end %>
  </div>
  <p><%= link_to "Back", :back, :class => "link-reset" %></p>
</div>